<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex align-items-center" href="#"><img
src="/assets/resources/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
data-bs-target="#navbarNavp" aria-controls="navbarNav"
aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="">Destinations<span class="
sr-only ">(current)</span></a>
        </div>
    </div>
    <div class="navbar-end ">
        <a class="btn btn-primary ms-3" routerLink="login" *ngIf="!isLoggedIn()">
            <span class="has-icon-left">Log In</span>
        </a>
        <a class="nav-item active" (click)="onLogout()"
            *ngIf="isLoggedIn()">
            <span class="has-icon-left ">Log Out</span>
        </a>
    </div>
</nav>
